/* PendingReq.css */

.pending-req-container {
  padding: 0px 20px;
  background-color: #f4f4f4;
  height: 100vh;
  overflow-y: auto;
}

.title-instuctions{
  width: 96vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-instuctions > h2{
  width: 40%;
}


.pending-req-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.pending-req-table th, .pending-req-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.pending-req-table th {
  background-color: #f4f4f4;
  text-align: left;
  text-align: center;
}

.pending-req-table button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
}

.pending-req-table button:last-child {
  background-color: #dc3545;
}


/* PendingReq.css */

.pending-req-container {
  padding: 20px;
}

.pending-req-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.pending-req-table th,
.pending-req-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.pending-req-table th {
  background-color: #f4f4f4;
}

.icon-legend-penReq {
  width: 100vw;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

}

.icon-legend__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-legend__icon--pending {
  color: orange;
  font-size: 20px;
  margin-right: 8px;
}

.icon-legend__icon--approved {
  color: green;
  font-size: 20px;
  margin-right: 8px;
}

.icon-legend__icon--canceled {
  color: red;
  font-size: 20px;
  margin-right: 8px;
}

.icon-legend__icon--commented {
  color: blue;
  font-size: 20px;
  margin-right: 8px;
}

.icon-legend__text {
  font-size: 16px;
}
