.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0a393e;
}

.input-group {
  width: 260px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px #0a393e;
}

.first {
  margin-top: 10px;
}

.input-group input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  background-color: #1d5055;
  font-size: 16px;
  padding-left: 15px;
  color: white;
  outline: none;
}

.login-btn {
  width: 260px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #98f5ff;
  border: 1px solid #98f5ff;
  box-shadow: 5px 5px 5px #1d5055;
  margin-top: 5px;
  color: #002f34;
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #2b6066;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #0a393e;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #002f34;
  width: 80%;
  max-width: 400px;
}

.input-group input:disabled{
  background-color: #002f34;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Media Queries for responsiveness */
@media (max-width: 600px) {
    .modal-content {
      width: 80%;
      margin: 20% auto;
    }
  
    .close {
      font-size: 24px;
    }
  
    .input-group {
      height: 35px;
    }
  
    .input-group input {
      font-size: 14px;
      padding-left: 10px;
    }
  
    .login-btn {
      height: 35px;
      width: 110%;
      font-size: 14px;
    }
  }